<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xns.bundlea"
    >

    <application
        android:name="com.xns.bundlea.BundleaApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity android:name="com.xns.bundlea.MainActivity"/>

    </application>

</manifest>
